# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# secrets
.env*

# package managers
package-lock.json

# production
dist

# next.js
.next

# typescript
*.tsbuildinfo
next-env.d.ts

# rust
apps/echo/target
apps/probe/target
apps/probe/schema

# ansible
/.ansible-venv
ansible/.ansible-collections
