[defaults]
inventory = inventory/registry.py
host_key_checking = True
remote_user = root
private_key_file = /dev/shm/fleet_ed25519
retry_files_enabled = False
collections_path = ./.ansible-collections
roles_path = ./roles
stdout_callback = default
interpreter_python = /usr/bin/python3

[ssh_connection]
pipelining = True
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=60s
